* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Hind Madurai", sans-serif;
}
.container {
  margin: 0 auto;
  width: 80rem;
}
body {
  background: #ffffff;
}
header {
  text-align: center;
  width: 100%;
}

.third__sec h2 {
  font-size: 2.2rem;
  line-height: 2;
}

.third__sec p {
  font-size: 1.4rem;
  line-height: 2;
}

#titlevideo {
  font-weight: bold;
}

.third__sec iframe {
}
